body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

app-root {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

label {
  margin-right: 5px;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;

  div {
    padding: 10px;
  }

  .header {
    font-weight: bold;
    display: contents;

    div {
      background-color: lightgray;
    }
  }
}

