:root {
  --rd-color: red;
  --rd-font-family: 'Courier New', Courier, monospace;
  --rd-font-size: 85px;

  --ssd-separator-stroke: #EEEEEE;
  --ssd-separator-width: 0.25px;
  --ssd-segment-fill: red;
}
